$icomoon-font-family: "how-to" !default;
$icomoon-font-path: "fonts" !default;

$icon-a: "\ec41";
$icon-b: "\f413";
$icon-c-path1: "\ea51";
$icon-c-path2: "\ea52";
$icon-c-path3: "\ea53";
$icon-d: "\f0b5";
$icon-e: "\e900";
$icon-f-path1: "\e901";
$icon-f-path2: "\e902";
$icon-f-path3: "\e903";
$icon-g-path1: "\e904";
$icon-g-path2: "\e905";
$icon-h: "\e906";
$icon-i: "\e907";
$icon-j-path1: "\e908";
$icon-j-path2: "\e909";
$icon-k: "\ec5f";
$icon-l: "\ea48";
$icon-m: "\ea4b";
$icon-n: "\ea5f";
$icon-flecha-atras: "\f0a8";
$icon-flecha-siguiente: "\f0a9";
$icon-lavarse-las-manos: "\f0c1";
$icon-enjabonarse-las-manos: "\f09c";
$icon-secarse-las-manos: "\f45a";
$icon-touch_app: "\f56b";
$icon-copiar: "\f093";
$icon-guardar: "\f0b2";
$icon-menu-puntos: "\f3ac";
$icon-menu: "\f3ab";
$icon-home: "\f0b3";

